2026/WS/.ipynb_checkpoints/WS1-checkpoint.ipynb
2026/WS/.ipynb_checkpoints/WS1_Classic_into_PyTorch-checkpoint.ipynb
2026/WS/.ipynb_checkpoints/WS1_PyTorch_Intro-checkpoint.ipynb
2026/WS/.ipynb_checkpoints/WS2-Intro-checkpoint.ipynb
2026/WS/.ipynb_checkpoints/WS_1_PyTorch_Intro-checkpoint.ipynb
2026/anaconda_projects/db/project_filebrowser.db
2026/.virtual_documents/WS/WS_1_PyTorch_Intro.ipynb
2026/.virtual_documents/WS/WS2-Intro.ipynb
2026/.virtual_documents/WS/WS1_PyTorch_Intro.ipynb
2026/.virtual_documents/WS/WS1_Classic_into_PyTorch.ipynb
2026/.virtual_documents/WS/WS1.ipynb
2026/.virtual_documents/WS/CV RUS/WS_1_PyTorch_Intro.ipynb
2026/.virtual_documents/WS/CV RUS/WS4_Make_CNN_Better.ipynb
2026/.virtual_documents/WS/CV RUS/WS2_Augment_CNNLayer.ipynb
2026/WS/tensor4test.pt
2026/WS/CV RUS/.ipynb_checkpoints/WS_2_Linear layer-checkpoint.ipynb
2026/WS/CV RUS/.ipynb_checkpoints/WS_1_PyTorch_Intro-checkpoint.ipynb
2026/WS/CV RUS/.ipynb_checkpoints/WS3_LeNet-checkpoint.ipynb
2026/WS/CV RUS/.ipynb_checkpoints/WS1_PyTorch_Intro-checkpoint.ipynb
2026/WS/CV RUS/.ipynb_checkpoints/WS1_pt2_Linear layer-checkpoint.ipynb
2026/WS/CV RUS/.ipynb_checkpoints/WS1_Classic_into_PyTorch-checkpoint.ipynb
2026/WS/CV RUS/.ipynb_checkpoints/WS_1_PyTorch_Intro-checkpoint.ipynb
2026/WS/MNIST/raw/t10k-images-idx3-ubyte
2026/WS/MNIST/raw/t10k-images-idx3-ubyte.gz
2026/WS/MNIST/raw/t10k-labels-idx1-ubyte
2026/WS/MNIST/raw/t10k-labels-idx1-ubyte.gz
2026/WS/MNIST/raw/train-images-idx3-ubyte
2026/WS/MNIST/raw/train-images-idx3-ubyte.gz
2026/WS/MNIST/raw/train-labels-idx1-ubyte
2026/WS/MNIST/raw/train-labels-idx1-ubyte.gz
2026/WS/test_module.pt
2026/WS/test_dict.pt
2026/WS/test.pt
2026/WS/mymodule.pt
2026/LEC/.ipynb_checkpoints/Lec_4_REG_BN_VGG_NIN_INCEPT -checkpoint.ipynb
2026/LEC/.ipynb_checkpoints/Lec_3_LeNet_AlexNet_SGD_ACT -checkpoint.ipynb
2026/LEC/.ipynb_checkpoints/Lec_2_ML_in_CV-checkpoint.ipynb
2026/WS/.ipynb_checkpoints/WS3_LeNet-checkpoint.ipynb
2026/WS/.ipynb_checkpoints/WS5transfer-checkpoint.ipynb
